/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore ruby-version
.ruby-version

# Ignore rspec failure tracking
.rspec_status

# Ignore rails log files
/log/*.log
/spec/log/*.log

# Ignore temporary files
/tmp/*
/spec/tmp/*

# Ignore AI files
.claude
